@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-image:"";
    }
</style>

<div class="text-center" style="background-color:#C8BFBF">
    <h1 class="display-4">Welcome</h1>

</div>

<hr />

<div class="text-center">
    <h1> CORTE DE PELO PARA MUJER </h1>

    <p>Tal vez ha llegado la hora de cambiar de look y lucir diferente esta primavera. No es tarde</p>
    <p>para hacernos con ese corte que tanto nos gusta en la peluquería de señora en Valencia.</p>
    <p>Puedes elegir entre una gran cantidad de cortes de pelo moderno, veamos cuáles.</p>
    <img src="~/css/primera_imagen.webp" />
</div>

<hr />

<div style="background-color:#C8BFBF">
    <h1> TENDENCIAS CORTE DE PELO PARA MUJER EN 2024 </h1>
    <br />

    <p>El <strong>corte bob version mini</strong>, es un corte recto justo por la barbilla, es muy cómodo y favorecedor, es un corte que viene pisando muy fuerte esta primavera. </p>
    <p>Se lleva mucho esta primavera el <strong>corte tipo mullet</strong> sobre todo para dejar esas ondas o rizos naturales con un buen producto de acabado y una buena hidratación, incluido un flequillo y <br /> unas capas para marcar los rasgos faciales de la clienta </p>
    <p>Como no, no nos podemos olvidar de las <strong>melenas XXL</strong>, ya que siguen siendo tendencia, con unas capas largas y para finalizar terminamos con un acabado rizado con tenacillas.</p>
    <p> Los <strong>flequillos</strong> también serán tendencia en este 2024</p>
</div>

<hr />

<div>
    <h1>CABELLERAS MIDI</h1>
    <br />
    <p>Un corte que es tendencia esta temporada y que en nuestro salón de peluquería de señoras realizamos a la perfección es el corte «midi». Se trata de medias melenas, ni muy largas ni muy cortas.</p>
    <p>
        El objetivo es dar rienda suelta a la imaginación y cambiar el color y la textura del cabello. Desde este tipo de melenas podemos crear otros estilos como el bob medio.

    </p>

</div>

<hr />

<div id="cuts">
    <h1>CORTE SHAG</h1>
    <br />
    <p>Este corte nace de la palabra shaggy, quiere decir despeinado. Y es que, este corte se basa en muchas capas de cabello que producen un volumen extremo.</p>
    
</div>

<hr />

<div style="background-color:#C8BFBF">

    <h1>FLEQUILLOS</h1>
    <br />
    <p>¿Eres una adicta a los flequillos? Estás de suerte porque los flequillos no pasan de moda y vuelven para hacerse un lugar. Podemos ver flequillos en cortes bob. Sin embargo, el flequillo que protagoniza la primavera es el «gringe».</p>
    <p>En esta ocasión, no nos preocupamos del largo y se lleva libremente. Es una opción perfecta para todas las mujeres que no se atreven a dar el paso de lucir flequillos cortos o escalonado.</p>
    
    <br />

    <h1>CORTE LARGO CON ONDAS</h1>
    <br />
    <p>Este año se caracteriza por cortes de pelo de media melena. Pero el largo unido a ondas y volumen también es protagonista. Tendencias que lucen perfectamente con las coloraciones como el balayage y el tiger eye.</p>
    
    <img src="~/css/segunda_imagen.webp" width="100% height" height="350" />

    <h1>CORTE PIXIE</h1>
    <br />
    <p>Este corte de pelo en Campanar lo reservamos para las clientas que se atreven con el cabello corto. Fue un corte que se llevó mucho en los 70 y creó toda una tendencia en cortes de pelo entre las mujeres de la época.</p>
    <p>Hoy en día, es un estilo donde el cabello se luce corto y se juega con la forma y el volumen. Es un estilo perfecto para todas las mujeres que tienen un rostro ovalado.</p>
    <p>En algunos casos, rapamos una parte de la cabeza, acción que lo hace lucir muy sensual y atractivo, pero solo es para aquellas que se atrevan a llevarlo. ¿Eres tú una de ellas?</p>
    
    <br />

    <h1>RIZADO Y CORTE DE CABELLO</h1>
    <br />
    <p>En esta ocasión, apostamos por medias melenas rizadas con un aire muy natural y sensual. Aportaremos a este tipo de peinado volumen para que luzcas ideal en cualquier evento.</p>

</div>

<div>
    <h1>CORTE A NAVAJA PARA MUJER</h1>
    <br />
    <p>Existe una gran cantidad de técnicas para cortar el cabello, pero ¿conoces todas las ventajas que ofrece el corte a navaja para mujer?La ventaja principal y la más importante es que se consiguen efectos que no se consiguen con las tijeras. Al utilizar la navaja obtenemos puntas más definidas con acabados más sencillos de manejar y de darles forma.Sin lugar a dudas, el corte a navaja para mujer es una de las mejores técnicas que existe en el sector de peluquería y que utilizamos para evitar el volumen a la par que se perfecciona el corte. En definitiva, cuando se utiliza la navaja, se va eliminando el cabello para darle mayor textura y definición.</p>
    <p>Estos cortes los podemos aplicar desde melenas muy cortas a medias melenas o estilos como el corte Pixie. ¡Son infinitos los peinados que podemos lucir!</p>
    <p>Por lo tanto, no tienes excusas para lucir a la última esta nueva temporada. Confía en nosotros y atrévete a cambiar tu estilo de cabello. Y es que, un cambio de vida siempre va relacionado con los cambios de look. ¿Qué dices? ¿Te atreves a verte más bella?</p>
    
    <img src="~/css/ultima_foto.png" width="100%"  />

</div>